<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Triagem</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <div class="button-container">
            <button id="startTriage">+</button>
        </div>
    </div>

    <div id="df-messenger">
        <link rel="stylesheet"
            href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
        <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
        <df-messenger
            location="europe-west2"
            project-id="hacka-426822"
            agent-id="9e25a07a-9f62-41a3-ad5a-a8789187e58c"
            language-code="pt"
            intent="welcome"
            max-query-length="-1"
            allow-feedback="all">
            <df-messenger-chat chat-title="RITA - Robô Inteligente de Triagem Automatizada">
            </df-messenger-chat>
        </df-messenger>
    </div>

    <script>
        document.getElementById('startTriage').onclick = function () {
            document.getElementById('df-messenger').style.display = 'block';
        };
    </script>
</body>

</html>
