body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('/static/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.top-bar {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
}

.top-bar img {
    height: 40px;
    margin-right: 26px;
}

.top-bar .logo-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.top-bar .logo-title .hospital-name {
    font-size: 16px;
    font-weight: bold;
}

.top-bar .logo-title .hospital-description {
    font-size: 12px;
    color: #666;
}

.top-bar .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.top-bar .menu img {
    height: 24px; /* Size of the icons */
    width: 24px; /* Ensure icons are square */
    cursor: pointer;
    filter: invert(55%) sepia(100%) saturate(340%) hue-rotate(100deg) brightness(40%) contrast(100%); /* This will make the icons #078468 */
    margin-left: 20px;
}

#settingsIcon {
    margin-left: 28px; /* Add 8px more to the default 20px margin */
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

h1 {
    color: #078468; /* Dark green color similar to the button */
}

.button-container {
    text-align: center;
    margin-bottom: 50px;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: #078468;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 5px;
}

.signature {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Full-Screen Chat for Desktop */
#df-messenger {
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#df-messenger df-messenger-chat {
    height: 100%;
}

/* Mobile-Friendly Chat (Use media query) */
@media (max-width: 768px) {
    #df-messenger {
        width: 100%;
        height: 100%;
        /* Adjust as needed */
        bottom: 0;
    }

    .signature {
        font-size: 12px;
        /* Adjust for smaller screens */
    }

    h1 {
        font-size: 24px;
        /* Adjust for smaller screens */
    }

    .button-container {
        margin-bottom: 20px;
    }

    button {
        font-size: 16px;
    }
}
